@import "nib"
@import "normalize.styl"
@import "slider.styl"

a
	text-decoration none 
body
	background-image url('../img/Fondos/FondoQuienesSomos.jpg')
	font-family 'open sans', Arial, Helvetica, sans-serif
	font-size 12px
footer
	color #2F623C
	marrgin 1em
	padding 1em 
	text-align center
header
	.logoCampolimpio
		height 160px
		margin-top -.1em
		margin-left 6em
		width 327px 
		z-index 2 
	.facebook
		height 58px
		position absolute
		margin .1em 1em 0 0
		right 5em
		top .1em 
		width 59px
		z-index 4
	.twitter
		height 58px
		position absolute
		margin .1em 1em 0 0
		right .1em
		top .1em
		width 58px
		z-index 5
		
#menu, #menu ul
	list-style none
	
#menu:before, #menu:after
	content ""
	display table
	
#menu:after
	clear both
#menu
	margin 0 0 .5em 7em
	zoom 1
	ul
		margin 20px 0 0 0
		visibility hidden
		position absolute
		top 30px
		left 0
		z-index 1
		transition all .2s ease-in-out
	li
		float left 
		position relative
		z-index 9999
		&:hover > ul
			visibility visible
			margin 0 0 0 1em
	a
		float left
		text-decoration none
	img
		z-index 9999
		&:hover
			opacity .85
		
#menu ul ul
	top 0
	left 150px
	margin 0 0 0 20px

#menu ul li
	float none
	display block
	border 0
	margin-left 1em
	
#menu ul a
	padding 10px
	width 130px
	display block
	float none
	white-space nowrap
	text-transform none

#menu ul li:first-child > a:after
	content ""
	position absolute
	left 40px
	top -6px
#menu ul ul li:first-child a:after
	left -6px
	top 50%
	margin-top -6px
	border-left 0
section
	iframe
		margin-top 10em
		padding-left 13em
.infoQuienesSomos
	font-size 1.7em
	width 80%
	max-width 768px
	margin-left 15em
.labs1
	background rgba(white,.2)
	margin-left 4em
	margin-bottom 4em
	figure
		display inline-block
		margin 1em
		&:hover
			transform scale(1.5,1.5)
			transition 1s
.Slider
	background #C4BC82
	border 3px solid #3B3013
	border-radius 30px
	margin-bottom 1em
	margin-left 10em
	width 80%
	&-container
		max-width 480px
		margin 0 auto	  	
.socios1
	background rgba(white,.4)
	border-top 2px solid #2F623C
	margin-left 2em
	figure
		display inline-block
		margin 1em
		&:hover
			transform scale(1.5,1.5)
			transition 1s
.socios2
	background rgba(white,.4)
	border-bottom: 2px solid #2F623C
	margin-left 2em
	figure
		display inline-block
		margin 1em
		&:hover
			transform scale(1.5,1.5)
			transition 1s
#apDiv1 
	position absolute
	width 200px
	height 115px
	z-index 2001

#apDiv2 
	position absolute
	width 200px
	height 115px
	z-index 2001
	left 576px
	top 472px
#apDiv3 
	position absolute
	width 200px
	height 115px
	z-index 2001
	left 461px
	top 467px
#apDiv4 
	position absolute
	width 1237px
	height 70px
	z-index 2002
	left 185px
	top 165px
		


	